.sticky-header {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  background-color: #242424;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
