.sticky-header {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  background-color: #242424;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .sticky-header {
    flex-direction: column;
    align-items: center;
    padding: 15px 0px;
  }
  .dashboard-logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .right-side-content {
    margin-top: 15px;
  }
}
