.ganre_row {
  display: flex;
  gap: 10px;
  overflow-y: hidden;
  overflow-x: scroll;
}
.ganre_row::-webkit-scrollbar {
  display: none;
}

.ant-card-cover {
  margin: 0px !important;
}

.item-card:hover {
  transform: scale(1.02);
}
